/* Insert your custom CSS here */

/* For the all HTML pages */
html {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	background-color: black;
	align-items: center;
} 

/* To modify <body> by Bootstrap a little */
.container {
	background-color: black;
	height: auto;
}

/* For the main content for each page right now */
.mainHeader {
	font-size: 50px;
	font-weight: 600;
    	background-clip: text;
	-webkit-background-clip: text;  
	color: transparent;  
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../images/homebg.jpg");
	margin-top: 50px;
}

.mainText {
	font-size: 30px;
	font-weight: 100;
	color: white; 
	margin-bottom: 50px;
}

/* For all content boxes in our page */
.information {
	min-height: 335px;
	width: 630px;
	height: auto;
	padding: 15px;
	float: left;	
	margin-top: 15px;
	margin-bottom: 15px;
	border: 5px solid darkgray;
}

/* For main text in web app function boxes */

.informationHeader {
	font-size: 27px;
	font-weight: 600;
	color: white;  
}

.informationText {
	font-weight: 300;
	color: white;
}

/* For the footer of the webpage */
.footer {
	position: sticky;
	height: 25px;
	bottom: 0;
	color: white;
	text-align: center;
	font-size: 15px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-top: 15px;
}

/* For tables */
td {
	padding-right: 20px;
	padding-bottom: 5px;
}

.tableHeader {
	font-weight: 300;
	color: white;
}

.tableText {
	font-weight: 300;
	color: darkgray;
}

/* For any legends (put a <table> inside */
.legend {
	min-height: 40px;
	width: 630px;
	height: auto;
	padding: 10px;
	float: left;	
	margin-top: 15px;
	margin-bottom: 15px;
	border: 5px solid darkgray;
}

.slidecontainer {
	width: 100%; /* Width of the outside container */
}
      
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;   
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}
      
/* Mouse-over effects */
.slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
}
      
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	background: #04AA6D;
	cursor: pointer;
}
      
.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #04AA6D;
	cursor: pointer;
}