<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script>
        function outputUpdate(new_value, type) {
            if (type == "T") {
                document.querySelector('#selected-T').value= new_value;
            }
            if (type == "P") {
                document.querySelector('#selected-P').value= new_value;
            }
            if (type == "z") {
                document.querySelector('#selected-z').value= new_value;
            }
        }
    </script>
    <title>Chemical Engineering Webtool</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="basic.html">Webtool</a>
        <!--When zoomed in, menu becomes a toggle dropdown-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!--First Link-->
            <li class="nav-item active">
                <a class="nav-link" href="basic.html"> Thermodynamics <!--<span class="sr-only">(current)</span>--></a>
            </li>
  
            <!--Second Link-->
            <li class="nav-item">
                <a class="nav-link" href="Binary.html">Testing</a>
            </li>

            <!--Third Link (Dropdown)-->
            <li class="nav-item dropdown">
              <button class="btn btn-secondary dropdown-toggle" id="navbarDropdown" 
                      role="button" data-toggle="dropdown" aria-haspopup="true" 
                      aria-expanded="false">
                Pure Component VLE
              </button>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="basic.html">Pure Component VLE</a>
                <a class="dropdown-item" href="binary.html">Binary VLE</a>
              </div>
            </li>
          </ul>
        </div>
    </nav>        

    <div class="container-sm">
        <span class='navbar-text' style="text-align: center;"><strong>Component A:</strong> {{ chemicals[form.componentA.data] }}</span>
    </div>

    <div class="container">
        <span class='navbar-text'><strong>Temperature (T):</strong> {{ "%0.2f" % T }} degree Celcius</span> 
        <span class='navbar-text'><strong>Pressure (P):</strong> {{ "%0.2f" % P }} kPa</span>
        <span class='navbar-text'><strong>Composition (z):</strong> {{ "%0.2f" % z }}</span> 
    </div>

    <div class='container-sm', style='background-color: burlywood'>
        <form method="POST">
            <strong >RESET PARAMETERS</strong>
            <br>
            {{ form.hidden_tag() }}
            {{ form.componentA.label }} {{ form.componentA() }}
            <br>
            {{ form.plot_type.label  }} {{ form.plot_type() }}
            <br>
            {{ form.T.label  }} {{ form.T(min=0, max=100, step=0.01, oninput="outputUpdate(value, 'T')") }}
            <output for="T" id="selected-T">{{ form.T.data }} </output> degree Celcius
            <br>
            {{ form.P.label  }} {{ form.P(min=1, max=1000, step=0.01, oninput="outputUpdate(value, 'P')") }}
            <output for="P" id="selected-P">{{ form.P.data }} </output> kPa
            <br>
            {{ form.z.label  }} {{ form.z(min=0, max=1, step=0.01, oninput="outputUpdate(value, 'z')") }}
            <output for="z" id="selected-z">{{ form.z.data }} </output>
            <br>
            {{ form.submit() }}
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>