{% extends "base.html" %}


{% block title %}
<!-- import p5/js library -->
<title>Intro to Binary VLE</title>
{% endblock %}

{% block content %}

<div>
	<p class="mainHeader">
	Introduction to Vapour Liquid Equilibrium (VLE):
	<br>
	Binary System
	</p>

	<p class="informationHeader">
		Learning Objectives
	</p>
	<div class="informationText">
		<ul>
			<li>Visualize phase behaviour (VLE) of a binary system</li>
			<li>Comprehend the phase behaviour of a binary system</li>
			<li>Recognize the significant difference between the phase behaviour of a pure component and a binary system</li>
		</ul>
	</div>

	<p class="informationHeader">
		Simulator Guidelines
	</p>
	<div class="informationText">
		<ol>
			<li>Choose simulator parameters: Chemical species in binary mixture, initial conditions of the mixture (P, T, composition) and type of phase diagram (P – xy / T – xy / x – y)</li>
			<li>Observe the initial state of the mixture and the molecular dynamics at the specified system conditions</li>
			<li>For the chosen system, observe how the state of the mixture changes with variations in P/T of the system</li>
		</ol>
	</div>

	<p class="informationHeader">
		Self-Assessment
	</p>
	<div class="informationText" style="margin-bottom: 160px">
		<ul>
			<li>How would you conduct a bench scale investigation to generate the phase diagrams for the chosen binary mixture?</li>
			<li>How are the P – xy and T – xy plots useful?</li>
			<li>How is the equilibrium composition plot useful?</li>
			<li>Why is there a limitation in the system’s initial conditions?</li>
			<li>What are the key differences between the P – xy and T –xy plots?</li>
			<li>What are the key differences between the VLE of pure species and binary system?</li>
			<li>What happens when one of the species in the binary mixture is swapped with a light/heavy hydrocarbon?</li>
		</ul>
	</div>
</div>

{% endblock %}