{% extends "base.html" %}


{% block title %}
<title>Home</title>
{% endblock %}


{% block content %}

<div>
	<p class="mainHeader">
	Conception of Chemical Engineering Fundamentals
	</p>
	<div style="background-image: url('static/images/earth.jpg'); background-size: cover; height: 710px;">
		<p class="mainText" style="margin-bottom: 16px;">This project is supported by the Technology Enhancement Grant 2020, CDTL, NUS</p>
		<div style="margin-bottom: 16px">
			<table class="mainText" style="float:left">
				<tr>
					<td class='tableHeader'>Research Assistants</td>
					<td class='tableText'>Cheng Wei Jian</td>
				</tr>
				<tr>
					<td> </td>
					<td class='tableText'>Ivan Oh Choon Kiat</td>
				</tr>
				<tr>
					<td> </td>
					<td class='tableText'>Ng Yu Song</td>
				</tr>
			</table>

			<table class="mainText" style="float:left">
				<tr>
					<td class='tableHeader' style="padding-left: 100px;">Investigators</td>
					<td class='tableText'>Dr Karthiga Nagarajan</td>
				</tr>
				<tr>
					<td> </td>
					<td class='tableText'>Dr Sachin Jangam</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<br style="clear: both">
{% endblock %}