{% extends "base.html" %}


{% block title %}
<title>Home</title>
{% endblock %}


{% block content %}

<div>
	<style>
		body {
			background-image: url('../static/images/Cover\ Page2.jpg');
			background-size: auto;
		}
	</style>

	<p class="mainHeader">
	Conception of ChE Fundamentals
	</p>
	<p class="mainText">
	Research Assistants: Cheng Wei Jian, Ivan Oh Choon Kiat, Ng Yu Song
	Investigators: Dr Karthiga Nagarajan, Dr Sachin Jangam
	Supported by Technology Enhancement Grant 2020, CDTL, NUS
	</p>

	<!--img src="static/images/earth.jpg" style="width: 100%; height: auto;">-->
</div>

{% endblock %}