{% extends "base.html" %}


{% block title %}
<title>Home</title>
{% endblock %}


{% block content %}

<div>
	<p style="background-image: url('static/images/Cover Page2.jpg');"></p>
	<p class="mainHeader">
	Conception of Chemical Engineering Fundamentals
	</p>
	<p class="mainText">
	Done by Cheng Wei Jian, Ivan Oh Choon Kiat, Ng Yu Song under the wise supervision of Dr. Sachin and Dr. Karthiga.
	</p>

	<img src="static/images/earth.jpg" style="width: 100%; height: auto;">
</div>

{% endblock %}