{% extends "base.html" %}


{% block title %}
<!-- import p5/js library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"></script>
<title>Ideal Reactors Application</title>
{% endblock %}

{% block content %}
<div>
    <p class="mainHeader">
	Visualisation of Residence Time Distribution <br> (Ideal Reactors)
    </p>
    <p class="mainText">
	Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias rerum quos deserunt excepturi, dicta, consectetur rem fugit nemo, explicabo cum id deleniti? Mollitia, voluptatum. Laborum est excepturi inventore quo ipsam.
    </p>
</div>
{% endblock %}