{% extends "base.html" %}


{% block title %}
<!-- import p5/js library -->
<title>Intro to Pure VLE</title>
{% endblock %}

{% block content %}

<div>
	<p class="mainHeader">
	Introduction to Pure Vapour-Liquid Equilibrium
	</p>
	<p class="mainText">
	Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias rerum quos deserunt excepturi, dicta, consectetur rem fugit nemo, explicabo cum id deleniti? Mollitia, voluptatum. Laborum est excepturi inventore quo ipsam.
	</p>
    </div>

{% endblock %}