{% extends "base.html" %}


{% block title %}
<!-- import p5/js library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"></script>
<title>Vapour Liquid Equilibrium (Pure)</title>
{% endblock %}


{% block content %}
<div>
	<p class="mainHeader">
	Visualisation of Pure VLE System (Water)
	</p>
	<p class="mainText">
	This tool utilises information on the parameters of a pure component (water) system to generate a molecular representation of the system, as well as the vaporisation curve.
	</p>
</div>

{% if errors == True %}
    {% set errorList = [] %}
    {% if form.T.errors %}
        {{ errorList.append(form.T.errors[0]) or "" }}
    {% endif %}
    {% if form.P.errors %}
        {{ errorList.append(form.P.errors[0]) or "" }}
    {% endif %}
    <div class="alert alert-warning rounded" role="alert" style='padding-bottom: 0px; margin-bottom: 0px;'>
        {% for error in errorList %}
            <ul>{{ error }}</ul>
        {% endfor %}
    </div>
{% endif %}

<div class="information rounded" style='margin-right: 35px;'>
    <p class='informationHeader'>Current System Parameters</p>
    <br>
    <table>
        <tr >
            <td class='tableHeader'><strong>Temperature (T):</strong></td> 
            <td class='tableText'>{{ "%0.2f" % system.T }} <sup>o</sup>C</td>
            <td class='tableHeader'><strong>Enthalpy (H):</strong></td> 
            <td class='tableText'>{{ "%0.2f" % system.H }} kJ/kg</td>
        </tr>
        <tr>
            <td class='tableHeader'><strong>Pressure (P):</strong></td> 
            <td class='tableText'>{{ "%0.2f" % system.P }} kPa</td>
            <td class='tableHeader'><strong>Entropy (S):</strong></td> 
            <td class='tableText'>{{ "%0.2f" % system.S }} kJ/kg<sup>o</sup>C</td>
        </tr>
        <tr>
            <td class='tableHeader'><strong>Volume of Vapour:</strong></td> 
            <td class='tableText'>Still Buggy</td>
            <td class='tableHeader'><strong>Volume of Liquid:</strong></td> 
            <td class='tableText'>Still Buggy</td>
        </tr>
        <tr>
            <td class='tableHeader'><strong>Molar Gibbs (G):</strong></td> 
            <td class='tableText'>{{ "%0.2f" % system.G }} kJ/kg</td>
            <td class='tableHeader'><strong>Vapour Fraction:</strong></td> 
            <td class='tableText'>{{ "%0.2f" % system.v }}</td>
        </tr>
    </table>
</div>

<div class='information rounded'>
    <form method="POST">
        <p class='informationHeader'>Reset Parameters</p>
        {{ form.hidden_tag() }}
        <table>
            <tr class='informationText'>
                <td><strong>{{ form.T.label  }}</strong></td>
                <td>{{ form.T() }} <sup>o</sup>C</td>
            </tr>
            <tr class='informationText'>
                <td><strong>{{ form.P.label  }}</strong></td>
                <td>{{ form.P() }} kPa</td>
            </tr>
            <tr>
                <td>{{ form.submit() }}</td>
            </tr>
        </table>

    </form>
</div>

{% if errors == False %}
<div id="animateMolecules" style='position: float;'>
    <script>
        var number = 100;
        var vapFrac = {{ system.v }};
        var crossedOver = 0;
    </script>
    <script src="{{url_for('static', filename='app2.js')}}"></script>
</div>
{% else %}
<div style='height: 350px; width: 100%'></div>
{% endif %}


{% endblock %}