{% extends "base.html" %}


{% block title %}
<!-- import p5/js library -->
<title>Intro to Pure VLE</title>
{% endblock %}

{% block content %}

<div>
	<p class="mainHeader">
	Introduction to Vapour Liquid Equilibrium (VLE):
	<br>
	Pure Component System
	</p>

	<p class="informationHeader">
		Learning Objectives
	</p>
	<div class="informationText">
		<ul>
			<li>Visualize phase behaviour (VLE) of pure component system</li>
			<li>Comprehend the changes in thermodynamic properties during phase transition</li>
			<li>Recognize phase equilibrium criteria</li>
		</ul>
	</div>

	<p class="informationHeader">
		Simulator Guidelines
	</p>
	<div class="informationText">
		<ol>
			<li>Choose system (water) and condition (T, P).</li>
			<li>Compress / expand the system isothermally (or) Heat / cool the system isobarically.</li>
			<li>As the system is subjected to the chosen isothermal or isobaric process, observe the molecular dynamics, changes in thermodynamic properties of the phases and the physical state of the system in the vapourization curve.</li>
		</ol>
	</div>

	<p class="informationHeader">
		Self-Assessment
	</p>
	<div class="informationText" style="margin-bottom: 160px">
		<ul>
			<li>How would you conduct a bench scale investigation to obtain the vapourization curve?</li>
			<li>Which thermodynamic property plays a vital role in defining the physical state of the system?</li>
			<li>At a given system condition, how to identify the state of the pure species?</li>
			<li>At a given system condition, how to infer the most stable phase?</li>
			<li>How to comprehend whether the system is at phase equilibrium?</li>
			<li>What happens when the system condition(s) are tweaked slightly at phase equilibrium?</li>
		</ul>
	</div>
</div>

{% endblock %}