{% extends "base.html" %}


{% block title %}
<!-- import p5/js library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"></script>
<title>Vapour Liquid Equilibrium (Pure)</title>
{% endblock %}


{% block content %}
<div>
    <p class="mainHeader">
    Visualisation of Pure VLE System (Water)
    </p>
    <p class="mainText">
    This tool utilises information on the parameters of a pure component system to generate a molecular representation of the system, as well as the vaporisation curve.
    </p>
</div>

{% if errors == True %}
    {% set errorList = [] %}
    {% if form.T.errors %}
        {{ errorList.append(form.T.errors[0]) or "" }}
    {% endif %}
    {% if form.P.errors %}
        {{ errorList.append(form.P.errors[0]) or "" }}
    {% endif %}
    <div class="alert alert-warning rounded" role="alert" style='padding-bottom: 0px; margin-bottom: 0px;'>
        {% for error in errorList %}
            <ul>{{ error }}</ul>
        {% endfor %}
    </div>
{% endif %}

<div class='information rounded' style="margin-right: 35px">
    <form method="POST">
        <p class='informationHeader'>Reset Parameters</p>
        {{ form.hidden_tag() }}
        <table>
            <tr class='informationText'>
                <td><strong>{{ form.processType.label  }}</strong></td>
                <td>{{ form.processType() }}</td>
            </tr>
            <tr class='informationText'>
                <td><strong>{{ form.T.label  }}</strong></td>
                <td>{{ form.T() }} <sup>o</sup>C</td>
            </tr>
            <tr class='informationText'>
                <td><strong>{{ form.P.label  }}</strong></td>
                <td>{{ form.P() }} kPa</td>
            </tr>
            <tr>
                <td>{{ form.submit() }}</td>
            </tr>
        </table>
        <br>
        <div class="slidecontainer">
            {% if processType == "Isotherm" %}
            <input type="range" min="100" max="22000" value="{{"%0.2f" % system.P}}" class="slider" id="myRange" oninput="adjustValue(this.value)">
            <span style="color: white;">Use this slider to adjust P: <span id="demo" style="color: white;"></span> kPa</span>
            {% else %}
            <input type="range" min="0" max="374" value="{{"%0.2f" % system.T}}" class="slider" id="myRange" oninput="adjustValue(this.value)">
            <span style="color: white;">Use this slider to adjust T: <span id="demo" style="color: white;"></span> <sup>o</sup>C
            {% endif %}
            <script>
                var slider = document.getElementById("myRange");
                var output = document.getElementById("demo");
                output.innerHTML = slider.value; // Display the default slider value

                // Update the current slider value (each time you drag the slider handle)
                slider.oninput = function() {
                    output.innerHTML = this.value;
                    // Update Vaporisation curve and Gibbs plot
                    Plotly.deleteTraces('vapCurve', [-1]);
                    if ("{{ processType }}" == "Isotherm") {
                        var newP = Math.round(this.value/100) * 100
                        Plotly.addTraces('vapCurve',{x: [{{ system.T }}, {{ system.T }}], y: [{{ system.P }}, this.value], name: "{{ processType }}",text: ["Start", "End"], hovertemplate: '<br><b>%{text}</b></br>' + 'T: %{x:.2f}' + '<br>P: %{y:.2f}<br>'});
                        Plotly.deleteTraces('Gplot', [-1]);
                        Plotly.addTraces('Gplot',{x: [newP], y: [{{ Ggraph[1] }}[newP]], name: "End System", hovertemplate: 'P: %{x:.2f} kPa' + '<br>G: %{y:.2f} kJ/kg'});
                    }
                    else {
                        var newT = this.value
                        Plotly.addTraces('vapCurve',{x: [{{ system.T }},this.value], y: [{{ system.P }}, {{ system.P }}], name: "{{ processType }}",text: ["Start", "End"], hovertemplate: '<br><b>%{text}</b></br>' + 'T: %{x:.2f}' + '<br>P: %{y:.2f}<br>'});
                        Plotly.deleteTraces('Gplot', [-1]);
                        Plotly.addTraces('Gplot',{x: [newT], y: [{{ Ggraph[1] }}[newT]], name: "End System", hovertemplate: 'T: %{x:.2f} C' + '<br>G: %{y:.2f} kJ/kg'});
                    }
                }
            </script>
        </div>
    </form>
</div>

<div id="animateMolecules2" style='position: float;'>
    <script>
        var number = 100;
        var vapFrac = {{ system.v }};
        var crossedOver = 0;
    </script>
    <script src="{{url_for('static', filename='app2.js')}}"></script>
        <div class='legend rounded' style='margin-top: 15px;'>
        <table>
            <tr>
                <td><p class='informationHeader' style='margin-bottom: 0px;'>Legend</p></td>
                <td class='tableHeader' style='padding-bottom: 0px; padding-left: 60px;'>Vapour: </td>
                <td class='tableText' style='padding-bottom: 0px;'><img src='static/images/vap.png' style='height: 15px; width: auto; margin-bottom: 5px;'></td>
                <td class='tableHeader' style='padding-bottom: 0px;'>Liquid: </td>
                <td class='tableText' style='padding-bottom: 0px;'><img src='static/images/liq.png' style='height: 15px; width: auto; margin-bottom: 5px;'></td>
                <td class='tableHeader' style='padding-bottom: 0px;'>Molecule: </td>
                <td class='tableText' style='padding-bottom: 0px;'><img src='static/images/blue.png' style='height: 15px; width: auto; margin-bottom: 5px;'></td>
            </tr>
        </table>
    </div>
</div>

{% if errors == False %}
<div class='information rounded' id='Gplot' style='margin-right: 35px; margin-top: 0px; height: 720px; padding: 0px'>
    <!-- import plotly library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var graphs1 = {{ Ggraph[0] | safe }};
        Plotly.plot('Gplot',graphs1,{});
        if ("{{ processType }}" == "Isotherm") {
        var initP = Math.round({{system.P}}/100) * 100
        Plotly.addTraces('Gplot',{x: [initP], y: [{{ Ggraph[1] }}[initP]], name: "Starting System", hovertemplate: 'P: %{x:.2f} kPa' + '<br>G: %{y:.2f} kJ/kg'});
        }
        else {
        var initT = {{system.T}}
        Plotly.addTraces('Gplot',{x: [initT], y: [{{ Ggraph[1] }}[initT]], name: "Starting System", hovertemplate: 'T: %{x:.2f} C' + '<br>G: %{y:.2f} kJ/kg'});
        }
    </script>
</div>

<div class='information rounded' id='vapCurve' style='height: 720px; margin-top: 0px; padding: 0px;'>
    <script>
        var graphs2 = {{ graphJSON | safe }}
        Plotly.plot('vapCurve',graphs2,{})
        Plotly.addTraces('vapCurve',{x: [{{ system.T }}, {{ system.T }}], y: [ {{ system.P }}, {{ system.P }}], name: "{{ processType }}",text: ["End", "Start"], hovertemplate: '<br><b>%{text}</b></br>' + 'T: %{x:.2f}' + '<br>P: %{y:.2f}<br>'});
    </script>
</div>

<br style="clear: both" >
{% endif %}


{% endblock %}