{% extends "base.html" %}


{% block title %}
<!-- import p5/js library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"></script>
<title>Intro to Reaction Design and Analysis</title>
{% endblock %}

{% block content %}
<div>
    <p class="mainHeader">
    	Introduction to Residence Time Distribution (RTD)
    </p>
    <div style="width: 630px; float: left; margin-right: 35px;">
        <p class="mainHeader" style="font-size:40px; font-weight: 600; margin-top: 0">
            Ideal Reactors
                <p class="informationHeader">
                    Learning Objectives
                </p>
                <div class="informationText">
                    <ul>
                        <li>Explain the stimulus response technique to study residence time distribution of reactors</li>
                        <li>Visualize the flow pattern in ideal reactors</li>
                        <li>Comprehend the RTD profiles of ideal flow reactors</li>
                    </ul>
                </div>
            
                <p class="informationHeader">
                    Simulator Guidelines
                </p>
                <div class="informationText">
                    <ol>
                        <li>Choose simulator parameters: Type of ideal reactor, flow conditions, tracer input</li>
                        <li>Observe the flow of tracer through the reactor, exit concentration profile and the RTD functions</li>
                    </ol>
                </div>
            
                <p class="informationHeader">
                    Self-Assessment
                </p>
                <div class="informationText">
                    <ul>
                        <li>How would you conduct a bench scale investigation to study the residence time distribution of flow reactors?</li>
                        <li>What are the key differences / similarities between an ideal PFR and ideal CSTR (flow pattern, RTD profile, RTD parameters)?</li>
                        <li>What are the advantage(s) and disadvantage(s) of pulse and step tracer experiment in studying RTD?</li>
                    </ul>
                </div>
        </p>
    </div>

    <div style="width: 630px; float: left;">
        <p class="mainHeader" style="font-size:40px; font-weight: 600; margin-top: 0">
            Real Reactors
            <p class="informationHeader">
                Learning Objectives
            </p>
            <div class="informationText">
                <ul>
                    <li>Visualize the flow pattern in a real reactor through stimulus response experiment</li>
                    <li>Comprehend flow deviation(s) in the real reactor using its RTD profile</li>
                </ul>
            </div>
            <p class="informationHeader">
                Simulator Guidelines
            </p>
            <div class="informationText">
                <ol>
                    <li>Choose simulator parameters: Type of real reactor, flow conditions, tracer input</li>
                    <li>Observe the flow of tracer through the ideal and real reactors and their RTD profiles</li>
                    <li>Diagnose the real reactor problem through comparison of the RTD profiles of the ideal and real reactor</li>
                </ol>
            </div>
            <p class="informationHeader">
                Self-Assessment
            </p>
            <div class="informationText" style="margin-bottom: 160px">
                <ul>
                    <li>How would you conduct a bench scale investigation to study the residence time distribution of flow reactors?</li>
                    <li>What are the key differences in the RTD profiles of the chosen real reactor and its ideal counterpart?</li>
                    <li>What is effect of the non-ideality on the magnitude of RTD parameters?</li>
                    <li>Which non-ideal reactor model will be suitable to predict performance?</li>
                </ul>
            </div>
        </p>
    </div>
    
</div>

<br style="clear: both">
{% endblock %}