{% extends "base.html" %}


{% block title %}
<!-- import p5/js library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"></script>
<title>Real Reactors Application</title>
{% endblock %}

{% block content %}
<div>
    <p class="mainHeader">
    	Visualisation of Residence Time Distribution <br> (Real Reactors)
    </p>
    <p class="mainText">
	Comparison of Residence Time Distribution between Ideal and Non-ideal Reactors
    </p>
</div>

<div class="information rounded" style='margin-right: 35px;'>
    <p class='informationHeader'>Current System Parameters</p>
    <br>
    <table>
        <tr >
            <td class='tableHeader'><strong>Tracer Type:</strong></td> 
            <td class='tableText'>{{ tracerType.capitalize() }}</td>
            <td class='tableHeader'><strong>Type of Non-ideality:</strong></td> 
            <td class='tableText'>{{ problemType.capitalize() }}</td>
        </tr>
        <tr>
            <td class='tableHeader'><strong>Reactor Type:</strong></td> 
            <td class='tableText'>{{ reactorType.upper() }}</td>
        </tr>
        <tr >
            <td class='tableHeader'><strong>Reactor Volume (V):</strong></td> 
            <td class='tableText'>{{ reactorVol }} m<sup>3</sup></td>
        </tr>
        <tr>
            <td class='tableHeader'><strong>Flow Rate (Q):</strong></td> 
            <td class='tableText'>{{ reactorFlow }} m<sup>3</sup>/s</td>
        </tr>
    </table>
    <br>
</div>

<div class='information rounded'>
    <form method="POST">
        <p class='informationHeader'>Reset System Parameters</p>
        {{ form.hidden_tag() }}
        <table>
            <tr class='informationText'>
                <td><strong>{{ form.tracerType.label  }}</strong></td>
                <td>{{ form.tracerType() }}</td>
            </tr>
            <tr class='informationText'>
                <td><strong>{{ form.reactorType.label }}</strong></td> 
                <td>{{ form.reactorType() }}</td>
            </tr>
            <tr class='informationText'>
                <td><strong>{{ form.problemType.label }}</strong></td> 
                <td>{{ form.problemType() }}</td>
            </tr>
            <tr>
                <td></td>
                <td>{{ form.submit() }}</td>
            </tr>
        </table>
    </form>
</div>

<br style="clear: both">
{% endblock %}